<h1 id="questions">Questions?</h1>
<input id="enable" type="checkbox" name="my-checkbox" data-animate='false' disabled>

<h1 id="phone"><%= number_to_phone(@conference.phone_number, area_code: true) %></h1>

<!-- <ul class="list-group">
  <li class="list-group-item">646-544-9091</li>
  <li class="list-group-item">212-865-3777</li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
</ul> -->

<!-- <a href="#" id="enable" class="btn btn-primary" data-loading-text="Loading…" autocomplete="off" data-toggle="button" aria-pressed="true">Enable Questions</a> -->

<!-- <h5 id="questions">Questions?</h5>  -->

<div id="log"></div>

<!-- Begin MailChimp Signup Form -->
<form action="//herokuapp.us8.list-manage.com/subscribe/post?u=a3e66f159ae6fc6718e006dcc&amp;id=f967cfa3c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll" class="form-group">
    <h2>Interested?</h2>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address
      </label>
      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_a3e66f159ae6fc6718e006dcc_f967cfa3c3" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response alert alert-danger alert-dismissable" id="mce-error-response" style="display:none"></div>
      <div class="response alert alert-success alert-dismissable" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  </div>
</form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


<%= render 'twilio.js' %>
