<h1 id="morse">Morse (demo)</h1>

<div class="description">
  <p id="what" class="lead center-block">
    Could you hear the questions people were asking? Morse streams people's questions over loudspeakers, so that it can be heard by the entire audience.   
  </p>

  <h1>Call <a href="tel:+18484562816">(848) 456 -2816</a> to try it out.</h1>
</div>

<div id="player"></div>

<div id="log">
	Loading…
</div>

<script>
	jQuery(document).ready(function($) {
		Twilio.Device.setup("<%= token %>", {debug: true}) 

		Twilio.Device.ready(function (device) {
			$("#log").text("Ready!");
		});

		Twilio.Device.error(function (error) {
   		$("#log").text("Error: " + error.message);
    });
 
  	Twilio.Device.connect(function (conn) {
    	$("#log").text("Successfully established call");
  	});

  	Twilio.Device.disconnect(function (conn) {
    	$("#log").text("Call ended");
  	});

  	Twilio.Device.incoming(function (conn) {
  		$("#log").text("Incoming call from " + conn.parameters.From)
  		conn.accept();
      conn.mute(true);
  	})
	});
  
  var tag = document.createElement('script');
  tag.src = "//www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: 'w1-jasxb7NY',
      playerVars: { 
        start: 1110
      },
      events: {
        'onReady': onReady
      }
    });
  }

  function onReady() {
    
  }


</script>