<h1 id="morse">Morse</h1>

<div id="what">What's Morse about?</div>

<div id="video">Put a video Here!</div>

<button id="mute">Mute</button>

<button class="hangup" onclick="hangup();">
	Hangup
</button>

<div id="log">
	Loading…
</div>

<script>

	jQuery(document).ready(function($) {
		Twilio.Device.setup("<%= token %>", {debug: true}) 

		Twilio.Device.ready(function (device) {
			$("#log").text("Ready!");
		});

		Twilio.Device.error(function (error) {
       		$("#log").text("Error: " + error.message);
      	});
 
      	Twilio.Device.connect(function (conn) {
        	$("#log").text("Successfully established call");
      	});
 
      	Twilio.Device.disconnect(function (conn) {
        	$("#log").text("Call ended");
      	});

      	Twilio.Device.incoming(function (conn) {
      		$("#log").text("Incoming call from " + conn.parameters.From)
      		conn.accept();
      	})
	});
</script>