<h1>Questions?</h1>

<h1 id="phone"><%= number_to_phone(@conference.phone_number, area_code: true) %></h1>

<ul class="list-group">
  <li class="list-group-item">646-544-9091</li>
  <li class="list-group-item">212-865-3777</li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
</ul>