<h1>Questions?</h1>

<h1 id="phone"><%= number_to_phone(@conference.phone_number, area_code: true) %></h1>

<ul class="list-group">
  <li class="list-group-item">646-544-9091</li>
  <li class="list-group-item">212-865-3777</li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
  <li class="list-group-item"></li>
</ul>

<!-- <a href="#" id="enable" class="btn btn-primary" data-loading-text="Loading…" autocomplete="off" data-toggle="button" aria-pressed="true">Enable Questions</a> -->

Questions? <input id="enable" type="checkbox" name="my-checkbox" data-animate='false' disabled>


<div id="log"></div>

<script>
  jQuery(document).ready(function($) {
    $("#enable").bootstrapSwitch();

    $('#enable').on('switchChange.bootstrapSwitch', function(event, state) {
      if (state == true) {
        Twilio.Device.connect();
      } else {
        console.log("hey");
        Twilio.Device.disconnectAll();
      }
    });

    Twilio.Device.setup("<%= token %>", {debug: true}) 

    Twilio.Device.ready(function (device) {
      $("#log").text("Ready!");
      $("#enable").bootstrapSwitch('disabled', false);
    });

    Twilio.Device.error(function (error) {
      $("#log").text("Error: " + error.message);
    });
 
    Twilio.Device.connect(function (conn) {
      $("#log").text("Successfully established call");
    });

    Twilio.Device.disconnect(function (conn) {
      $("#log").text("Call ended");
    });

    Twilio.Device.incoming(function (conn) {
      $("#log").text("Incoming call from " + conn.parameters.From)
      conn.accept();
      conn.mute(true);
    })
  });
</script>