<h1 id="morse">Morse (demo)</h1>

<div id="video" class="embed-responsive embed-responsive-4by3">
  <div id="player"></div>
</div>

<div class="description">
  <p id="what" class="lead center-block">
    Let your audience be heard.
  </p>
  
  <h2>How do I use this?</h2>

  <p class="lead">Play the video, then call <a href="tel:+18484562816">(848) 456-2816</a> when they open up for questions. You'll hear your question over the NYTM video.</p>

  <p class="lead">Connect this to loudspeakers, and everyone can hear your audience ask questions.</p>

</div>


<div id="log">
	Loading…
</div>

<script>
	jQuery(document).ready(function($) {
		Twilio.Device.setup("<%= token %>", {debug: true}) 

		Twilio.Device.ready(function (device) {
			$("#log").text("Ready!");
		});

		Twilio.Device.error(function (error) {
   		$("#log").text("Error: " + error.message);
    });
 
  	Twilio.Device.connect(function (conn) {
    	$("#log").text("Successfully established call");
  	});

  	Twilio.Device.disconnect(function (conn) {
    	$("#log").text("Call ended");
  	});

  	Twilio.Device.incoming(function (conn) {
  		$("#log").text("Incoming call from " + conn.parameters.From)
  		conn.accept();
      conn.mute(true);
  	})
	});
  
  var tag = document.createElement('script');
  tag.src = "//www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: 'rfIdRC1fsTA',
      playerVars: { 
        start: 240
      },
      events: {
        'onReady': onReady
      }
    });
  }

  function onReady() {
    
  }


</script>